@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Bold.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Bold.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Bold.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Medium.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-ExtraBold.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Medium.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-ExtraBold.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Medium.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-ExtraBold.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Light.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Light.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Light.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Regular.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Regular.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Thin.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Regular.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Thin.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iFood RC Textos';
  src: url('/fonts/iFoodRCTextos-Thin.woff2') format('woff2'),
    url('/fonts/iFoodRCTextos-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
